body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-repeat: no-repeat;
    background-size: 16:9;
    height: 100%;
}
#container{
    min-height: 100%;
    position: relative;
    height: 100%;
}
ul{
    background-color:transparent;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}
li{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    float:left;
}
li a{
    color: #ccda2b;
    text-decoration: none;
    display: inline;
    padding: 14px 77px;
    overflow: hidden;
}
li a:hover{
    background-color: transparent;
    opacity: 70%;
    
}
.topnav{
    background: url(../image/backgoundmain.jpg);
    color: white;
    padding-bottom: 50px;
}
.btn-oder{
    border-style: goldenrod;
    color: #DDDDDD;
}
.banner{
    text-align: center;
}
.logo{
    background: transparent
    background-size: cover;
}
.logo img{
    height: 55px;
    width: 100px;
}   
h2{
    font-size: 30px;
}
h4{
    text-align: center;
}
.intro{
    font-size: 20px;
    margin-left: 190px;
    margin-right: 190px;
    word-wrap: break-word;
}
a{
    font-size: 20px;
    text-decoration: none;
}
.hot img{
    height: 200px;
    width: 300px;
}
.colum{
    display: flex;
    justify-content: space-between;
    margin-left: -1rem;
    flex-flow: row wrap;
}
.hot{
    text-align: center;
    flex: 1 0;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-style: solid;
}
.movepage{
    text-align: center;
    display: inline-block;
}
.movepage a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
.movepage a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}
.movepage a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }

#footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:60px; 
}
.footer img{
    height: 55px;
    width: 100px;
}